.details-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 1rem; */
  /* gap: 1rem; */
}

.details-image {
  height: auto;
  max-height: 450px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-content:has(h1) ::first-letter {
  text-transform: capitalize;
}

.details-content:has(li) {
  font-family: Papyrus, fantasy;
}